<div class="jumbotron">

  <a data-flickr-embed="true" href="https://www.flickr.com/photos/pinkattitude/49775293606/in/photostream/" title="thank-you">
  <img src="https://live.staticflickr.com/65535/49775293606_680a59aa13_n.jpg" width="288" height="320" alt="thank-you"></a>
      
  <h1>Thank You for Being a TRUX Member!</h1>

</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome to TRUX Deliver, <span class="member-name"></span></h2>
      </div>
    </div>
  </div>
